[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
  signingkey = {{ .git.signingkey }}

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = {{ .git.ssh_program }}

[init]
  defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
