alias la='ls -a'
alias brewup='brew update && brew upgrade && brew cleanup'
alias ..='cd ..'
alias ...='cd ../..'
alias gs='git status'
alias gl='git log --graph'
alias gla='git log --graph --all'
alias gd='git diff'
alias ga='git add'
alias gc='git commit'
